@model FinanceTracker.Web.Models.TransactionViewModel

<form asp-action="Delete" method="Post">

    <input asp-for="Id" hidden></input>

    <div class="mb-3">
        <h5>@Html.DisplayNameFor(model => model.AccountName)</h5>
        <p>@Model.AccountName</p>
    </div>

    <div class="mb-3">
        <h5>@Html.DisplayNameFor(model => model.ProviderName)</h5>
        <p>@Model.ProviderName</p>
    </div>

    <div class="mb-3">
        <h5>@Html.DisplayNameFor(model => model.AmountDue)</h5>
        <p>@Model.AmountDue</p>
    </div>

    <div class="mb-3">
        <h5>@Html.DisplayNameFor(model => model.DueDate)</h5>
        <p>@Model.DueDate</p>
    </div>

    <div class="mb-3">
        <h5>@Html.DisplayNameFor(model => model.Status)</h5>
        <p>@Model.Status</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-danger" value="Delete" asp-action="Delete" asp-route-Id="@Model.Id"></input>
    </div>

</form>