@model IEnumerable<FinanceTracker.Web.Models.ProviderDisplayModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Create Financial Categories";
}

<div class="accordion" id="createCategoryAccordian">

    <div class="accordion-item">
        <h2 class="accordion-header" id="createInfo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <i class="fa-solid fa-sack-dollar me-3 fs-2"></i>
                <h2>What are Financial Categories?</h2>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="createInfo" data-bs-parent="#createCategoryAccordian">
            <div class="accordion-body">
                <ul class="fs-3">
                    <li class="accordian-List"><p>Categories are required by DollarTracker to organize your monthly spend.</p></li>
                    <li class="accordian-List"><p>Financial Tracker uses a simple 3 step process to enter a transaction:</p>
                        <ol>
                            <li class="accordian-List">A Cash Flow movement is initiated from a CATEGORY. This could Represent a bill from your Power Company.</li>
                            <li class="accordian-List">Identify which Money <a asp-controller="Account" asp-action="Index">ACCOUNT</a> the Cash Flow will be deposited or withdrawn from. This account could represent your checking account.</li>
                            <li class="accordian-List">Generate a transaction that will represent this Cash Flow from your CATEGORY into your <a asp-controller="Account" asp-action="Index">ACCOUNTS</a>. 
                                Finally this transaction will represent the flow of money from your account to your power company. This will only clear, once the status has been set to clear by you. 
                                More information on this in the transactions dashboard.</li>
                        </ol>    
                    </li>
                    <li class="accordian-List"><p>The categories that you create will be used for transactions in the future unless you decide to delete them.</p></li>
                    <li class="accordian-List"><p>With a Category you can create a transaction that will deposit or withdrawal money from <a asp-controller="Account" asp-action="Index">ACCOUNTS</a>.</p></li>
                    <li class="accordian-List"><p>Each category will be represented in your monthly charts on the dashboard.</p></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="createTips">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fa-solid fa-sack-dollar me-3 fs-2"></i>
                <h2>How to use Financial Categories</h2>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="createTips" data-bs-parent="#createCategoryAccordian">
            <div class="accordion-body">
                <ul class="fs-3">
                    <li class="accordian-List"><p>To create a category use the CREATE button.</p></li>
                    <li class="accordian-List"><p>You can review your category in DETAILS. While there, you can also EDIT and DELETE your category.</p></li>
                    <li class="accordian-List"><p>At anytime you can update and delete your categories, but remember all previous transactions will be changed, or removed completely, throwing off previous account activity!!</p></li>
                    <li class="accordian-List"><p>The category "Reason for Transaction" should be a succinct reason a transaction will be created.</p></li>
                    <li class="accordian-List"><p>The category "Description" may contain may details describing the category, perhaps a website URL, or contact information.</p></li>
                    <li class="accordian-List"><p>You can create a category for any source of cash movement into or out of your household.</p></li>
                    <li class="accordian-List"><p>These categories can be as detailed as you like. If you want to track per person in a household, or by each individual payor in a payment.</p></li>
                    <li class="accordian-List"><p>You could also create categories by expense types. This would be more general categories like all bills, all food spend for the month, or everything spent on entertainment.</p></li>
                    <li class="accordian-List"><p>Also make sure to create categories to track money going into your ACCOUNTS. Incomes, interest, or capital gains generated from investments</p></li>
                    <li class="accordian-List"><p>Maybe you have a construction project at home, track how much was spent on lumber, labor, plumbing, electrical and see how the total cost was divided across each sub contractor.</p></li>
                    <li class="accordian-List"><p>You can create an account for each member of the house and track their spend per month. Conversly, you could bundle a single family unit and track the household together.</p></li>
                    <li class="accordian-List"><p>We would recommend creating some simple tracking scheme first, by creating simple categories and a single account and see how costs are deducted from your account by category as transactions clear.</p></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="createExamples">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="fa-solid fa-sack-dollar me-3 fs-2"></i>
                <h2>Financial Category Examples</h2>
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="createExamples" data-bs-parent="#createCategoryAccordian">
            <div class="accordion-body">
                <ul class="fs-3">
                    <li class="accordian-List"><p>Some Common Examples below to help get you started!<p></li>
                    <li class="accordian-List"><p>Name : All-State | Reason for Transactions: Bill | Description: Bi-annual Car Insurance<p></li>
                    <li class="accordian-List"><p>Name : Son's Expenses | Reason for Transactions: Track Family Member Budget | Description: Monthly Allowance Granted to Johnny.<p></li>
                    <li class="accordian-List"><p>Name : Entertainment | Reason for Transactions: Entertainment Expense | Description: Family's Alloted monthly budget for Entertainment spending.<p></li>
                    <li class="accordian-List"><p>Name : MyWorkPlace Travel Expenses | Reason for Transactions: Track work Reimbursement | Description: I pay upfront and get reembursed the last paycheck of the month.<p></li>
                    <li class="accordian-List"><p>Name : Giovanni's Bowling Alley | Reason for Transactions: Entertainment Expense | Description:  Family's bowling outting.<p></li>
                    <li class="accordian-List"><p>Name : MyWorkPlace | Reason for Transactions: Income | Description: $4,378.34 Bi-monthly Payday Check.<p></li>
                    <li class="accordian-List"><p>Name : MyBank Savings Account Interest | Reason for Transactions: Interest Gain | Description: Intrested Generated from MyBank Savings Account #1234556.<p></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="d-grid gap-2">
    <div class="table-responsive topSpace-md">
        <table class="table align-middle table-secondary table-striped table-bordered border-secondary table-hover">
            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Service)</th>
                    <th colspan="2">@Html.DisplayNameFor(model => model.Url)</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Service</td>
                        <td>@item.Url</td>
                        <td>
                            <a class="btn btn-outline-primary fw-bold" asp-action="Display" asp-route-id="@item.Id">DETAILS</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <a class="btn btn-info" asp-Controller="Transaction" asp-action="Index">BACK</a>
    <a class="btn btn-success" asp-action="Create">CREATE</a>
</div>


